// Variables

$color-bg: #252627;
$color-bg-light: #3B3D3E;
$color-primary: #f5f5f5;
$color-accent: #2CF3EE;
$color-heading: #fcc42c;

// End Variables



// Mixins

@mixin normalize {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin styleButton {
    text-decoration: none;
    padding: 1rem 5.3rem;
    border: 5px solid $color-accent;
    display: inline-block;
    border-radius: 50rem;
    color: $color-primary;
    font-size: 4.2rem;
    font-family: 'Open Sans',
    sans-serif;
}

@mixin styleList {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: $color-primary;
    font-size: 3.3rem;
}

@mixin styleHeader {
    color: $color-heading;
    font-size: 6.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
    font-weight: 100;
}

@mixin styleSubHeader {
    color: $color-heading;
    font-size: 3rem;
    text-align: center;
    // text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}

@mixin verticalSpacing {
    margin-bottom: 12rem;
}

@mixin styleBuiltWith {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    max-width: 8.6rem;
}

@mixin styleBuiltWithSpan {
    display: block;
    font-size: 1.8rem;
    margin-top: -.5rem;
}


// End Mixins


// Animations

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: .9;
        transform: translate(0);
    }
}

// End Animations

*,
*::after,
*::before {
    @include normalize;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: $color-bg;
    color: $color-primary;
    font-size: 2.6rem;
    position: relative;
    overflow-x: hidden; // Hides horizontal scroll introduced by the left: setting in .Header
}

.Wrapper {
    max-width: 140rem;
    margin: 0 auto;
}

.Header {
    left: calc(-50vw + 50%);  // Makes element fill 100% of screen (wider than Wrapper) but introduces a horizontal scroll.
    width: 100vw;
    margin: 0;
    position: relative;
    padding: 78px;
    height: 100vh;
    background: inherit;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/hero.jpg);
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    // Increased background image size to allow centering the subject without having the background repeat via bg-size: cover;
    background-position-x: -150px;
    background-repeat: no-repeat;
    background-size: 110%;
    font-family: 'Raleway',
    sans-serif;
    @include verticalSpacing();
}

.Logo {
    display: block;
    width: 129px;
}

.Title-Card {
    display: inline-block;
    margin: 18.6rem 0 0 7.9rem;
    text-align: center;

    h1 {
        font-size: 7.2rem;
    }

    .Name {
        animation: moveInLeft 1s ease-out;
    }

    .Title {
        color: $color-accent;
        opacity: .9;
        margin-bottom: 40px;
        animation: moveInRight 1s ease-out;
    }

    .Contact-btn {
        @include styleButton();
    }
}

.Navbar {
    padding: inherit;
    position: absolute;
    top: 4rem;
    right: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

    li {
        @include styleList();
        margin-left: 3.2rem;
    }

    a {
        @include styleList();
    }
}

.Intro-container {
    // padding: 0 24rem;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 140rem;

    h2 {
        @include styleHeader();
        @include verticalSpacing();
    }
    
    .Intro-flex-container {
        display: flex;
        
        .Hello-img {
            margin-right: 8rem;
            height: auto;
            display: inline-block;
            flex: 1;
            align-items: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .Intro-text {
            max-width: 100%;
            flex: 2;

            p {
                display: inline-block;
                margin-bottom: 2.8rem;
            }

            p:nth-child(3) {
                @include verticalSpacing();
            }

            span {
                color: $color-accent;
            }
        }
    }
}

.Skills-container {
    left: calc(-50vw + 50%);  // Makes element fill 100% of screen (wider than Wrapper) but introduces a horizontal scroll.
    width: 100vw;
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/wood-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 3rem; // TODO Make the child elements fit to the container's max-width
    display: flex;
    @include verticalSpacing();

    h3 {
        @include styleHeader();
        margin: 0;
        color: #f5f5f5;
        text-align: center;
    }

    img {
        display: block;
        height: 25%;
        margin: 8.6rem auto;
    }

    p {
        text-align: center;
    }

    .Skill-1, .Skill-2 {
        margin-right: 6rem;
    }

    .Skill-1, .Skill-2, .Skill-3 {
    }
}

.Responsive-container {
    max-width: 140rem;
    @include verticalSpacing();

    h2 {
        margin-bottom: 4rem;
    }

    p {
        width: 50%;
        text-align: center;
        margin: 0 auto 6rem auto;
    }

    .Mockup {
        max-width: 100%;
        height: auto;
    }
}

.Dev-container {
    max-width: 140rem;
    margin: auto;
    h2 {
        @include styleHeader();
        @include verticalSpacing();
    }
}
    
.Project-img {
    img {
        max-width: 72.2rem;
    }

}

.Project {
    display: flex;
}

.Inner {
    width: 50%;
    margin: 0 auto;
    p,h4 {
        text-align: center;
        margin: 0 auto;
    }

    h4 {
        @include styleSubHeader();
    }
}

.JS {
    @include styleBuiltWith();
    margin: 0 25px;

    span {
        @include styleBuiltWithSpan();
    }

    img {
        height: 8.6rem;
    }
}


.CSS {
    @include styleBuiltWith();
    margin: 0 25px;
    span {
        @include styleBuiltWithSpan();
    }

    img {
        height: 8.6rem;
    }
}

.HTML {
    @include styleBuiltWith();
    margin: 0 25px;
    span {
        @include styleBuiltWithSpan();
    }

    img {
        height: 8.6rem;
    }
}

.Inner-tech {
    padding: 0 25px;
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}
