// TODO

// TODO Nav Links Brackets stay active when a element is clicked
// TODO Make the child elements fit to the container's max-width
// TODO Add fallback for JS smooth scroll
// TODO Add fallbacks for other browsers on all required elements





// Variables

$color-bg: #252627;
$color-bg-light: #3B3D3E;
$color-primary: #f5f5f5;
$color-accent: #2CF3EE;
$color-heading: #fcc42c;

// End Variables



// Mixins

@mixin normalize {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@mixin styleButton {
    text-decoration: none;
    padding: 1rem 5.3rem;
    border: .5rem solid $color-accent;
    display: inline-block;
    border-radius: 50rem;
    color: $color-primary;
    font-size: 4.2rem;
    font-family: 'Open Sans',
    sans-serif;
}

@mixin styleList {
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: $color-primary;
    font-size: 3.3rem;
    animation-fill-mode: backwards;
}

@mixin styleHeader {
    color: $color-heading;
    font-size: 6.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .8rem;
    font-weight: 100;
}

@mixin styleSubHeader {
    color: $color-heading;
    font-size: 3rem;
    text-align: center;
    // text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 100;
}

@mixin verticalSpacing {
    margin-bottom: 12rem;
}

@mixin styleBuiltWith {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    max-width: 8.6rem;
}

@mixin styleBuiltWithSpan {
    display: block;
    font-size: 1.8rem;
    margin-top: -.5rem;
}


// End Mixins


// Animations

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

// End Animations

// Lazy Loading

.b-lazy {
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
    transition: opacity 500ms ease-in-out;
    opacity: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.b-lazy.b-loaded {
    opacity: 1;
}

// End Lazy Loading

*,
*::after,
*::before {
    @include normalize;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: $color-bg;
    color: $color-primary;
    font-size: 2.6rem;
    position: relative;
    overflow-x: hidden; // Hides horizontal scroll introduced by the left: setting in .Header
}

.Wrapper {
    max-width: 140rem;
    margin: 0 auto;
}

.Header {
    left: calc(-50vw + 50%);  // Makes element fill 100% of screen (wider than Wrapper) but introduces a horizontal scroll.
    width: 100vw;
    margin: 0;
    position: relative;
    padding: 7.8rem;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    // Increased background image size to allow centering the subject without having the background repeat via bg-size: cover;
    background-position-x: -15rem;
    background-repeat: no-repeat;
    background-size: 110%;
    font-family: 'Raleway',
    sans-serif;
    animation-fill-mode: backwards; // Fixes Jitter of elements when animation finishes
    @include verticalSpacing();
}

.Logo {
    display: block;
    width: 14.9rem;
}

.Title-Card {
    display: inline-block;
    margin: 18.6rem 0 0 7.9rem;
    text-align: center;

    h1 {
        font-size: 7.2rem;
    }

    .Name {
        animation: moveInLeft 1s ease-out;
        color: #fff;
    }

    .Title {
        color: $color-accent;
        margin-bottom: 4rem;
        animation: moveInRight 1s ease-out;
    }

    .Contact-btn {
        @include styleButton();
        animation: moveInBottom 500ms ease-out 750ms;
        animation-fill-mode: backwards;
        color: #fff;
        transition: all 200ms linear;
        transform: translate(0);
        box-shadow: none;
    }

    .Contact-btn:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .2);
        padding: 1rem 7rem;
        transition: padding 200ms linear;
    }

    .Contact-btn:active {
        transform: translateY(-.1rem);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    }


}

.Navbar {
    padding: inherit;
    position: absolute;
    top: 4rem;
    right: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

    
    li {
        @include styleList();
        margin-left: 3.2rem;
    }
    
    a {
        @include styleList();
    }
    
}

.Navbar a::before,
.Navbar a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
    color: $color-accent;
}

.Navbar a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.Navbar a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.Navbar a:hover::before,
.Navbar a:hover::after,
.Navbar a:focus::before,
.Navbar a:focus::after {
    // color: $color-accent;
    opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

.Intro-container {
    // padding: 0 24rem;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 140rem;

    h2 {
        @include styleHeader();
        @include verticalSpacing();
    }
    
    .Intro-flex-container {
        display: flex;
        
        .Hello-img {
            margin-right: 8rem;
            height: auto;
            display: inline-block;
            flex: 1;
            align-items: center;

            img {
                max-width: 100%;
                height: auto;
            }
        }

        .Intro-text {
            max-width: 100%;
            flex: 2;

            p {
                display: inline-block;
                margin-bottom: 2.8rem;
            }

            p:nth-child(3) {
                @include verticalSpacing();
            }

            span {
                color: $color-accent;
            }
        }
    }
}

$skills-container-padding: 10rem; // This is to account for the dead space from the top of the skills headers, to properly center vertically.

.Skills-container {
    left: calc(-50vw + 50%);  // Makes element fill 100% of screen (wider than Wrapper) but introduces a horizontal scroll.
    width: 100vw;
    max-height: 100rem;
    position: relative;
    background-size: cover;
    background-position: center;
    background: $color-bg-light;
    padding: $skills-container-padding; 
    padding-top: calc(#{$skills-container-padding} - 2rem);
    display: flex;
    align-items: center;
    @include verticalSpacing();

    h3 {
        @include styleHeader();
        margin: 0;
        color: #f5f5f5;
        text-align: center;
    }

    img {
        display: block;
        max-height: 23.5rem;
        margin: 8.6rem auto;
    }

    p {
        text-align: center;
    }

    .Skill-1, .Skill-2 {
        margin-right: 6rem;
    }

    .Skill-1, .Skill-2, .Skill-3 {
    }
}

.Responsive-container {
    max-width: 140rem;
    @include verticalSpacing();

    h2 {
        margin-bottom: 4rem;
    }

    p {
        width: 50%;
        text-align: center;
        margin: 0 auto 6rem auto;
    }

    .Mockup {
        max-width: 100%;
        height: auto;
    }
}

.Dev-container {
    max-width: 140rem;
    margin: auto;
    h2 {
        @include styleHeader();
        @include verticalSpacing();
    }
}
    
.Project-img-container {   
    position: relative;
    img {
        max-width: 72.2rem;
        // content:url("../img/priceless_prints.png");
        cursor: pointer;
    }

    .Imagez-hover {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 300ms ease-out;
    }

    .Imagez-hover:hover {
        opacity: 1;
        transition: opacity 300ms ease-out;
    }

    img:hover {
        // content:url("../img/voicinator.png");
    }

}

.Project {
    display: flex;
    max-height: 100%;
    margin-bottom: 6rem; // Half of normal vertical spacing
}

.Inner {
    width: 50%;
    margin-left: 3rem;
    position: relative;
    p,h4 {
        text-align: center;
        margin: 0 auto;
    }

    p {
        font-size: 3rem;
        margin-top: -8px; // Removes dead space from the top of the p to align with the img
    }

    h4 {
        @include styleSubHeader();
        position: absolute;
        bottom: 16rem;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}

.JS {
    @include styleBuiltWith();
    margin: 0 2.5rem;

    span {
        @include styleBuiltWithSpan();
    }

    img {
        height: 8.6rem;
    }
}


.CSS {
    @include styleBuiltWith();
    margin: 0 2.5rem;
    span {
        @include styleBuiltWithSpan();
    }

    img {
        height: 8.6rem;
    }
}

.HTML {
    @include styleBuiltWith();
    margin: 0 2.5rem;
    span {
        @include styleBuiltWithSpan();
    }

    img {
        height: 8.6rem;
    }
}

.Bootstrap {
    @include styleBuiltWith();
    margin: 0 2.5rem;
    span {
        @include styleBuiltWithSpan();
    }

    img {
        height: 8.6rem;
    }
}

.Inner-tech {
    padding: 0 2.5rem;
    display: flex;
    position: absolute;
    bottom: .4rem;
    align-items: flex-end;
    width: 100%;
    justify-content: center;
}

.Github {
    @include verticalSpacing();
    h3 {
        @include styleSubHeader();
        text-align: center;
        margin-bottom: 1rem;
    }

    img {
        max-height: 13rem;
        width: auto;
    }

}

.Technologies {
    // background: $color-bg-light;

    h3 {
        @include verticalSpacing();
        @include styleHeader();
    }

    img {
        height: 16rem;
    }

    span {
        @include styleBuiltWithSpan();
        font-size: 3.6rem;
    }
}

.Technologies-images {
    max-width: 140rem;
    display: flex;
    justify-content: space-between;

    span {
        text-align: center;
    }
}

